body {
    background-color: ;
    color: white;
    margin: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 36px 10%;
}

.heada {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    padding: 16px 16px 16px 0;
    color: #f9faf8;
    font-size: 24px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    
}
button {
    margin: 14px 0;
    align-self: flex-end;
}

.headb {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.container {
    flex: 1;
}
#first {
    flex: 1
    
}

img {
    max-width:fit-content;
    width: 100%;
}

.info {

    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px 10%;
}

.infoc img {
    width: 100%;
    max-width: 150px;
    border: solid firebrick;
}

.infoc {
max-width: 150px;
text-align: center;
}

.infotext {
    max-width: 150px;
    color: #1f2937;
}

.infohead {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}
.quote {
    background-color: #e5e7eb;
    padding: 48px 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quotetext {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
}

.quoteauthor {
    color: #1f2937;
    align-self: flex-end;
    font-size: 24px;
}

.call {
    background-color: #3882f6;
    margin: 10% 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}
.calltext {
    font-size: 16px;
    font-weight: initial;
}

#call {
    background-color: #3882f6;
    border: solid white;
    padding: 8px 24px;
    color: white;
    align-self: center;
    margin:  32px;

}

.callcont {
    flex: 1 0 0;
    padding: 32px;
}

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 32px;
}